.banner {
    background-color: var(--cor-links);
    padding: 5rem 12.5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-image: url('../assets/banner-background.png');
    background-position: bottom;
    background-repeat: no-repeat;
    align-items: center;
    gap: 3.5rem;
}

.banner__container-titulo {
    font-family: var(--fonte-titulo);
    color: var(--cor-destaque-principal);
    font-weight: 800;
    font-size: 4.5rem;
    line-height: 5.5rem;
    padding-bottom: 3rem;
}

.banner__container-titulo span {
    color: var(--cor-destaque-secundario);
}

.banner__container-botao {
    padding: 1rem 1.5rem;
    color: var(--cor-de-fundo);
    font-weight: 800;
    font-family: var(--fonte-texto);
    list-style: 2rem;
    font-size: 1.5rem;
    background-color: var(--cor-fundo-botao);
    border-radius: 2rem;
    border: none;
}

.banner__imagems {
    width: 100%;
}

@media screen and (max-width: 1280px){
    .banner{
        grid-template-columns: 1fr;
        text-align: center;
        padding: 5rem 2rem;
    }

    .banner__container-titulo{
        font-size: 3.5rem;
        line-height: 4.575rem;
    }
}